lab09/TextJAXB/dane01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/dane01" xmlns:tns="http://www.example.org/dane01" elementFormDefault="qualified">

    <complexType name="ImieninyType">
    	<sequence>
    		<element name="Imie" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    	<attribute name="data" type="date"></attribute>
    </complexType>

    <element name="Imieniny" type="tns:ImieninyType"></element>
</schema>